.register-page {
  max-width: 550px;
  margin: auto;
  border-radius: 2px;
}
.register-page-head {
  color: black;
  text-align: center;
  font-size: 50px;
  font-weight: bolder;
}
.register-page-form {
  margin-top: 10px;
}
.register-page-label {
  font-size: 20px;
  margin-left: 20px;
  margin-top: 30px;
}
.register-form-input {
  display: block;
  width: 100%;
  padding: 10px 20px;
  border-radius: 20px;
  border: 2px solid black;
}
.register-page-button {
  margin-top: 20px;
  background-color: tomato;
  border: 2px solid tomato;
  color: white;
  font-weight: bolder;
}
.register-page-link {
  text-align: center;
  justify-content: center;
  margin: 20px;
}
