.profile-page-nav {
  background-color: #343a40;
  padding: 20px;
  text-align: center;
  color: white;
  font-size: 30px;
}
.credits {
  font-size: 25px;
  text-align: center;
  font-weight: bolder;
}
.profile-page-offers {
  margin-top: 30px;
  display: flex;
  justify-content: space-evenly;
}
.offer-card {
  height: 60vh;
  width: 40%;
  border: 6px solid #343a40;
}
.profile-page-stripe-button {
  max-width: 150px;
  margin: auto;
  margin-top: 40px;
  justify-content: center;
}

@media only screen and (max-width: 600px) {
  .profile-page-offers {
    display: flex;
  }
  .offer-card {
    flex: 1;
  }
}
