.profile-page-nav {
  background-color: #343a40;
  padding: 20px;
  text-align: center;
  color: white;
  font-size: 30px;
}
.credits {
  font-size: 25px;
  text-align: center;
  font-weight: bolder;
}
